# Dependencies
node_modules
.pnp
.pnp.js

# Production
dist
build
out
.next
.turbo

# Mobile
.expo
android
ios

# Testing
coverage

# Misc
*.md
*.mdx
pnpm-lock.yaml
package-lock.json
yarn.lock
.git
.gitignore
.prettierignore
.eslintignore
LICENSE